{{ form_start(form) }}
<div class="row">
    <div class="col">
        {{ form_row(form.title) }}
    </div>
    
</div>
<div class="row">
    <div class="col">
        {{ form_row(form.imageFile) }}
    </div>
</div>
<div class="row">
    <div class="col">
        {{ form_row(form.categorie) }}
    </div>
</div>
<div class="row">
    <div class="col">
        {{ form_row(form.content) }}
    </div>
</div>
<div class="d-flex justify-content-end">
    <input type="submit" class="blog-button bb-green" value="Enregistrer">
    <a href="{{ path('admin.article.index') }}" class="blog-button ms-1">Retour</a>
</div>
{{ form_end(form) }}